@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fef3c7;
}

::-webkit-scrollbar-thumb {
  background: #92400e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #78350f;
}